.spotify-frame {
  border-radius: 12px;
  width: 100%;
  height: 80px;
}


.lagupop {
  background: linear-gradient(135deg, #ff512f, #dd2476); /* merah terang ke pink */
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(221, 36, 118, 0.4);
  transition: transform 0.3s;
  text-align: center;
}

/* Efek hover */
.lagupop:hover {
  transform: scale(1.05);
}


/* Kartu Rock */
.lagurock {
  background: linear-gradient(135deg, #232526, #414345);
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.6);
  transition: transform 0.3s;
}

/* Efek hover */
.lagurock:hover {
  transform: scale(1.05);
}



/* Kartu Jazz */
.lagujazz {
  background: linear-gradient(135deg, #1e3c72, #2a5298);
  border-radius: 15px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4);
  transition: transform 0.3s;
}

/* Efek hover */
.lagujazz:hover {
  transform: scale(1.05);
}


.laguhindi {
  background: linear-gradient(135deg, #ff512f, #dd2476);
  border-radius: 15px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4);
  transition: transform 0.3s;
}

/* Efek hover */
.laguhindi:hover {
  transform: scale(1.05);
}

.laguedm{
  background: linear-gradient(135deg, #11998e, #38ef7d);
  border-radius: 15px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4);
  transition: transform 0.3s;
}

.laguedm:hover {
  transform: scale(1.05);
}

/* Card khusus Classical */
.laguclassical {
  background: linear-gradient(135deg, #f9f9f9, #e2d1c3);
  border-radius: 15px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s;
  cursor: pointer;
}

.laguclassical:hover {
  transform: scale(1.05);
}

/* Styling Spotify iframe (dipakai semua genre) */
.spotify-embed {
  border-radius: 12px;
}


.btn-spotify {
  display: inline-flex;
  align-items: center;
  padding: 10px 25px;
  font-weight: bold;
  color: white;
  text-decoration: none;
  border-radius: 30px;
  background: linear-gradient(135deg, #1db954, #1ed760);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s, box-shadow 0.3s;
}

.btn-spotify:hover {
  transform: scale(1.08);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
}


.author-photo {
  width: 280px;       /* atur ukuran lingkaran */
  height: 280px;      /* sama dengan width agar tetap bulat */
  object-fit: cover;  /* menjaga proporsi gambar */
  border: 6px solid #0d6efd; /* lingkaran tepi lebih tebal */
  border-radius: 50%; /* memastikan lingkaran */
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3); /* efek bayangan */
}
.author-photo:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.4);
  transition: transform 0.3s, box-shadow 0.3s;
}